In [ ]:
# Imported Python Libraries
import pandas as pd 
import numpy as np

# Getting Data of 2019

In [ ]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2019"
df1 = pd.read_html(link,header=0)[2]
df2 = pd.read_html(link,header=0)[3]
df3 = pd.read_html(link,header=0)[4]
df4 = pd.read_html(link,header=0)[5]

In [ ]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [ ]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,4,Escape Room,Columbia Pictures,"Adam Robitel (director); Bragi F. Schut, Maria...",[2]
1,JANUARY,4,Rust Creek,IFC Films,Jen McGowan (director); Julie Lipson (screenpl...,[3]
2,JANUARY,4,American Hangman,Hangman Justice Productions,Wilson Coneybeare (director/screenplay); Donal...,[4]
3,JANUARY,11,A Dog's Way Home,Columbia Pictures,Charles Martin Smith (director); W. Bruce Came...,[5]
4,JANUARY,11,The Upside,STX Entertainment,Neil Burger (director); Jon Hartmere (screenpl...,[6]
...,...,...,...,...,...,...
237,DECEMBER,25,Spies in Disguise,20th Century Fox / Blue Sky Studios / Chernin ...,"Nick Bruno, Troy Quane (directors); Brad Copel...",[132]
238,DECEMBER,25,Little Women,Columbia Pictures / Regency Enterprises,Greta Gerwig (director/screenplay); Saoirse Ro...,[221]
239,DECEMBER,25,1917,Universal Pictures / DreamWorks Pictures / Ent...,Sam Mendes (director/screenplay); Krysty Wilso...,[222]
240,DECEMBER,25,Just Mercy,Warner Bros. Pictures / Participant Media,"Destin Daniel Cretton (director/screenplay), A...",[223]
241,DECEMBER,27,Clemency,Neon,Chinonye Chukwu (director/screenplay); Alfre W...,[224]

In [ ]:
df.shape

(242, 6)

In [ ]:
df.columns

Index(['Opening', 'Opening.1', 'Title', 'Production company', 'Cast and crew',
       'Ref.'],
      dtype='object')

In [ ]:
from tmdbv3api import TMDb
tmdb = TMDb()
tmdb.api_key = '29b8861cdb448c28d0af9f16f86df084'

In [ ]:
from tmdbv3api import Movie
movie = Movie()

In [ ]:
import requests
def genres(x):
    genres = []
    
    mov = movie.search(x)
    id_ = mov[0]['id']
    req = requests.get('https://api.themoviedb.org/3/movie/{}?api_key=29b8861cdb448c28d0af9f16f86df084'.format(id_))
    dic = req.json()['genres']
    for i in range(0,len(dic)):
        genres.append(dic[i]['name'])
        
    if genres==[]:
        return np.NaN
    else:
        gen = " ".join(genres)
        return gen

In [ ]:
df['genres'] = df['Title'].map(lambda x : genres(x))

In [ ]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.,genres
0,JANUARY,4,Escape Room,Columbia Pictures,"Adam Robitel (director); Bragi F. Schut, Maria...",[2],Thriller Action Mystery Adventure Horror
1,JANUARY,4,Rust Creek,IFC Films,Jen McGowan (director); Julie Lipson (screenpl...,[3],Thriller Drama
2,JANUARY,4,American Hangman,Hangman Justice Productions,Wilson Coneybeare (director/screenplay); Donal...,[4],Thriller
3,JANUARY,11,A Dog's Way Home,Columbia Pictures,Charles Martin Smith (director); W. Bruce Came...,[5],Drama Adventure Family
4,JANUARY,11,The Upside,STX Entertainment,Neil Burger (director); Jon Hartmere (screenpl...,[6],Comedy Drama
...,...,...,...,...,...,...,...
237,DECEMBER,25,Spies in Disguise,20th Century Fox / Blue Sky Studios / Chernin ...,"Nick Bruno, Troy Quane (directors); Brad Copel...",[132],Animation Action Adventure Comedy Family
238,DECEMBER,25,Little Women,Columbia Pictures / Regency Enterprises,Greta Gerwig (director/screenplay); Saoirse Ro...,[221],Drama Romance
239,DECEMBER,25,1917,Universal Pictures / DreamWorks Pictures / Ent...,Sam Mendes (director/screenplay); Krysty Wilso...,[222],War Drama Action Thriller
240,DECEMBER,25,Just Mercy,Warner Bros. Pictures / Participant Media,"Destin Daniel Cretton (director/screenplay), A...",[223],Drama Crime History
241,DECEMBER,27,Clemency,Neon,Chinonye Chukwu (director/screenplay); Alfre W...,[224],Drama

In [ ]:
df = df.loc[:,['Title','Cast and crew','genres']]

In [ ]:
df.head()

,Title,Cast and crew,genres
0,Escape Room,"Adam Robitel (director); Bragi F. Schut, Maria...",Thriller Action Mystery Adventure Horror
1,Rust Creek,Jen McGowan (director); Julie Lipson (screenpl...,Thriller Drama
2,American Hangman,Wilson Coneybeare (director/screenplay); Donal...,Thriller
3,A Dog's Way Home,Charles Martin Smith (director); W. Bruce Came...,Drama Adventure Family
4,The Upside,Neil Burger (director); Jon Hartmere (screenpl...,Comedy Drama

In [ ]:
def director(x):
    return x.split(' (')[0]

In [ ]:
df['director_name'] = df['Cast and crew'].map(lambda i : director(i))

In [ ]:
df.head()

,Title,Cast and crew,genres,director_name
0,Escape Room,"Adam Robitel (director); Bragi F. Schut, Maria...",Thriller Action Mystery Adventure Horror,Adam Robitel
1,Rust Creek,Jen McGowan (director); Julie Lipson (screenpl...,Thriller Drama,Jen McGowan
2,American Hangman,Wilson Coneybeare (director/screenplay); Donal...,Thriller,Wilson Coneybeare
3,A Dog's Way Home,Charles Martin Smith (director); W. Bruce Came...,Drama Adventure Family,Charles Martin Smith
4,The Upside,Neil Burger (director); Jon Hartmere (screenpl...,Comedy Drama,Neil Burger

In [ ]:
def actor_1_name(x):
    return x.split('; ')[-1].split(', ')[0]

In [ ]:
df['actor_1_name'] = df['Cast and crew'].map(lambda i : actor_1_name(i))

In [ ]:
def actor_2_name(x):
    if len(x.split('; ')[-1].split(', '))<2:
        return np.NaN
    else:
        return x.split('; ')[-1].split(', ')[1]

In [ ]:
df['actor_2_name'] = df['Cast and crew'].map(lambda i : actor_2_name(i))

In [ ]:
def actor_3_name(x):
    if len(x.split('; ')[-1].split(', '))<3:
        return np.NaN
    else:
        return x.split('; ')[-1].split(', ')[2]

In [ ]:
df['actor_3_name'] = df['Cast and crew'].map(lambda i : actor_3_name(i))

In [ ]:
df = df.rename(columns={'Title':'movie_title'})

In [ ]:
df = df.loc[:,['movie_title','director_name','actor_1_name','actor_2_name','actor_3_name','genres']]

In [ ]:
df.head()

,movie_title,director_name,actor_1_name,actor_2_name,actor_3_name,genres
0,Escape Room,Adam Robitel,Taylor Russell,Logan Miller,Deborah Ann Woll,Thriller Action Mystery Adventure Horror
1,Rust Creek,Jen McGowan,Hermione Corfield,Jay Paulson,Sean O'Bryan,Thriller Drama
2,American Hangman,Wilson Coneybeare,Donald Sutherland,Vincent Kartheiser,Oliver Dennis,Thriller
3,A Dog's Way Home,Charles Martin Smith,Bryce Dallas Howard,Edward James Olmos,Alexandra Shipp,Drama Adventure Family
4,The Upside,Neil Burger,Bryan Cranston,Kevin Hart,Nicole Kidman,Comedy Drama

In [ ]:
df['actor_2_name'] = df['actor_2_name'].replace(np.NaN,'Unknown')

In [ ]:
df['actor_3_name'] = df['actor_3_name'].replace(np.NaN,'Unknown')

In [ ]:
df

,movie_title,director_name,actor_1_name,actor_2_name,actor_3_name,genres
0,Escape Room,Adam Robitel,Taylor Russell,Logan Miller,Deborah Ann Woll,Thriller Action Mystery Adventure Horror
1,Rust Creek,Jen McGowan,Hermione Corfield,Jay Paulson,Sean O'Bryan,Thriller Drama
2,American Hangman,Wilson Coneybeare,Donald Sutherland,Vincent Kartheiser,Oliver Dennis,Thriller
3,A Dog's Way Home,Charles Martin Smith,Bryce Dallas Howard,Edward James Olmos,Alexandra Shipp,Drama Adventure Family
4,The Upside,Neil Burger,Bryan Cranston,Kevin Hart,Nicole Kidman,Comedy Drama
...,...,...,...,...,...,...
237,Spies in Disguise,"Nick Bruno, Troy Quane",Will Smith,Tom Holland,Rashida Jones,Animation Action Adventure Comedy Family
238,Little Women,Greta Gerwig,Saoirse Ronan,Emma Watson,Florence Pugh,Drama Romance
239,1917,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong,War Drama Action Thriller
240,Just Mercy,Destin Daniel Cretton,Michael B. Jordan,Jamie Foxx,Brie Larson,Drama Crime History
241,Clemency,Chinonye Chukwu,Alfre Woodard,Wendell Pierce,Aldis Hodge,Drama

In [ ]:
df['comb'] = df['actor_1_name']+' '+df['actor_2_name']+' '+df['actor_3_name']+' '+df['director_name']+' '+df['genres']

In [ ]:
df.head(10)

,movie_title,director_name,actor_1_name,actor_2_name,actor_3_name,genres,comb
0,Escape Room,Adam Robitel,Taylor Russell,Logan Miller,Deborah Ann Woll,Thriller Action Mystery Adventure Horror,Taylor Russell Logan Miller Deborah Ann Woll A...
1,Rust Creek,Jen McGowan,Hermione Corfield,Jay Paulson,Sean O'Bryan,Thriller Drama,Hermione Corfield Jay Paulson Sean O'Bryan Jen...
2,American Hangman,Wilson Coneybeare,Donald Sutherland,Vincent Kartheiser,Oliver Dennis,Thriller,Donald Sutherland Vincent Kartheiser Oliver De...
3,A Dog's Way Home,Charles Martin Smith,Bryce Dallas Howard,Edward James Olmos,Alexandra Shipp,Drama Adventure Family,Bryce Dallas Howard Edward James Olmos Alexand...
4,The Upside,Neil Burger,Bryan Cranston,Kevin Hart,Nicole Kidman,Comedy Drama,Bryan Cranston Kevin Hart Nicole Kidman Neil B...
5,Replicas,Jeffrey Nachmanoff,Keanu Reeves,Unknown,Unknown,Science Fiction Thriller,Keanu Reeves Unknown Unknown Jeffrey Nachmanof...
6,After Darkness,Batán Silva,Natalia Dyer,Kyra Sedgwick,Tim Daly,Drama Family Thriller Science Fiction,Natalia Dyer Kyra Sedgwick Tim Daly Batán Silv...
7,Glass,M. Night Shyamalan,James McAvoy,Bruce Willis,Samuel L. Jackson,Thriller Drama Science Fiction,James McAvoy Bruce Willis Samuel L. Jackson M....
8,Close,Vicky Jewson,Noomi Rapace,Sophie Nélisse,Indira Varma,Action Thriller,Noomi Rapace Sophie Nélisse Indira Varma Vicky...
9,The Standoff at Sparrow Creek,Henry Dunham,James Badge Dale,Brian Geraghty,Unknown,Drama Thriller Mystery,James Badge Dale Brian Geraghty Unknown Henry ...

In [ ]:
df['movie_title'] = df['movie_title'].str.lower()
df.head()

,movie_title,director_name,actor_1_name,actor_2_name,actor_3_name,genres,comb
0,escape room,Adam Robitel,Taylor Russell,Logan Miller,Deborah Ann Woll,Thriller Action Mystery Adventure Horror,Taylor Russell Logan Miller Deborah Ann Woll A...
1,rust creek,Jen McGowan,Hermione Corfield,Jay Paulson,Sean O'Bryan,Thriller Drama,Hermione Corfield Jay Paulson Sean O'Bryan Jen...
2,american hangman,Wilson Coneybeare,Donald Sutherland,Vincent Kartheiser,Oliver Dennis,Thriller,Donald Sutherland Vincent Kartheiser Oliver De...
3,a dog's way home,Charles Martin Smith,Bryce Dallas Howard,Edward James Olmos,Alexandra Shipp,Drama Adventure Family,Bryce Dallas Howard Edward James Olmos Alexand...
4,the upside,Neil Burger,Bryan Cranston,Kevin Hart,Nicole Kidman,Comedy Drama,Bryan Cranston Kevin Hart Nicole Kidman Neil B...

In [ ]:
df.isna().sum()

movie_title      0
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
comb             0
dtype: int64

In [ ]:
df = df.dropna()

In [ ]:
df.isna().sum()

movie_title      0
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
comb             0
dtype: int64

In [ ]:
old = pd.read_csv('/Users/devanshmalhotra/Desktop/movie_recommendation_system/data2018.csv')

In [ ]:
new = old.append(df)

In [ ]:
new.head()

,movie_title,director_name,actor_1_name,actor_2_name,actor_3_name,genres,comb
0,pirates of the caribbean: dead men tell no tales,Joachim Rønning Espen Sandberg,Johnny Depp,Javier Bardem,Geoffrey Rush,Adventure Action Fantasy Comedy,Johnny Depp Javier Bardem Geoffrey Rush Joachi...
1,justice league,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Action Adventure Fantasy Sci-Fi,Ben Affleck Henry Cavill Gal Gadot Zack Snyder...
2,thor: ragnarok,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Action Adventure Fantasy Sci-Fi,Chris Hemsworth Tom Hiddleston Cate Blanchett ...
3,guardians of the galaxy vol. 2,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Action Adventure Comedy Sci-Fi,Chris Pratt Zoe Saldana Dave Bautista James Gu...
4,the king's daughter,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Fantasy Action Adventure,Pierce Brosnan William Hurt Benjamin Walker Se...

In [ ]:
new.shape

(5860, 7)

In [ ]:
new.drop_duplicates(subset=['movie_title'], keep = 'last', inplace = True)

In [ ]:
new.shape

(5844, 7)

In [ ]:
new.to_csv('data2019.csv',index=False)